.task1 .item {
	position: absolute;
	right: 200px;
	bottom: 150px;
}

.task2 .item {
	position: absolute;
	right: calc((100% - 80px) / 2);
	bottom: calc((100% - 80px) / 2);
}

.task3 .item {
	position: absolute;
	top: -20px;
	left: -20px;
}
/* =================================== */
.container4 {
	position: relative;
	
}

.task4 {
  width: 1000px;
  
}
.task4 .item {
	position: fixed;
	left: calc((100% - 80px) / 2);
}
/* ==================================== */

.task5 .item1 {
  background-color: red;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
}
.task5 .item2 {
	position: absolute;
	z-index: 1;
	top: 40px;
	left: 40px;
}
.task5 .item3 {
  background-color: green;
  position: absolute;
  z-index: 3;
}

.task6 .item {
	float: left;
}

.task7 .item {
	float: right;
}

.task8 .item1 {	
	float: left;
	
}
.task8 .item2 {
  height: 120px;
  float: right;
  
  
}

.task8 p {	
	clear: both;
}

.task9 .item1 {
  height: 200px;
  float: left;

}
.task9 .item2 {
	float: right;
}
.task9 p {
	clear: right;
}

.task10 .item1 {
	float: left;
}
.task10 .item2 {
	float: right;
	height: 200px;
}
.task10 p {
	clear: left;
}
/* ======================== */
.task11 .img-item {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.task14 .img-item {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: right center;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: 0 0;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: bottom center;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: 25px 40px ;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: center center;
}

.task20 {
	user-select: none;
}

.task21 {
	user-select: all;
}

.task22 {
	caret-color: blue;
}

html {
	scroll-behavior: smooth;
}
